@import "tailwindcss";

/* Variabel warna */

:root {
    --background: #f7f7bb;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    /* Kalau tidak pakai Geist, bisa fallback ke Arial */
    --font-sans: Arial, Helvetica, sans-serif;
    --font-mono: "Courier New", monospace;
}


/* Dark mode otomatis */

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}


/* Style dasar body */

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}